version: "3.9"

services:
	app:
		build: .
		container_name: InetScannDocImg
		ports:
			- "8092:80"
		volumes:
			- ./src:/var/www/html
		depends_on:
			- mariadb
			- redis

	mariadb:
		image: mariadb:11
		container_name: mariadb
		restart: always
		env:
			MYSQL_ROOT_PASSWORD: dog-hot-copper-linux619
			MYSQL_DATABASE: InetScann
			MYSQL_USER: ISnn/user
			MYSQL_PASSWORD: ISnn/user/pass/dog-hot-copper-linux619
		ports:
			- "3314:3314"
		volumes:
			- mariadb_data:/var/lib/mysql

	redis:
		image: redis:8.4
		container_name: redis
		ports:
			- "6379:6379"
		command: ["redis-server", "--appendonly", "yes"]

volumes:
	mariadb_data: