@import url(tokens.css);
@import url(main.css);

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 200;
  backdrop-filter: blur(6px);
  transition: opacity 0.2s ease;
}

.settings-overlay.active {
  display: flex;
}

/* Белая панель */
.settings-modal {
  animation: settingsPop 0.2s ease;
  position: relative;
  width: 1063px;
  max-width: 90%;
  background: #DEDDDA;
  border-radius: 37px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Заголовок */
.settings-title {
  font-size: 40px;
  font-weight: 900;
  color: #000;
  text-align: center;
}

/* Блок настройки */
.settings-row {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Текст "Theme" */
.settings-label {
  font-size: 32px;
  font-weight: 900;
  color: #000;
}

/* Переключатель */
.settings-switch {
  width: 52px;
  height: 32px;
  background: #E6E0E9;
  border: 2px solid #79747E;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.settings-switch-handle {
  width: 28px;
  height: 28px;
  background: #79747E;
  border-radius: 100px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

.settings-switch.active .settings-switch-handle {
  left: 22px;
}

.illegal-btn {
  visibility: hidden;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.github-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 210;
  background-color: #24292f;
  padding: 10px;
  border-radius: 50%;
  display: block;
  transition: opacity 0.2s;
}

.github-btn:hover {
  opacity: 0.8;
}

.github-btn img,
.github-logo {
  width: 32px;
  height: 32px;
  display: block;
}

.SetButton {
  background-color: #3584e4;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 48px; 
  display: block; 
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-heavy);
  color: white; 
  font-size: 24px;
}