@import url(tokens.css);
@import url(main.css);
/* Затемнение фона */
.settings-overlay {
  position: fixed;
  inset: 0;
  background: rgba(40, 38, 38, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/* Белая панель */
.settings-modal {
  position: relative;
  width: 1063px;
  max-width: 90%;
  background: #DEDDDA;
  border-radius: 37px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Заголовок */
.settings-title {
  font-size: 40px;
  font-weight: 900;
  color: #000;
  text-align: center;
}

/* Блок настройки */
.settings-row {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Текст "Theme" */
.settings-label {
  font-size: 32px;
  font-weight: 900;
  color: #000;
}

/* Переключатель */
.settings-switch {
  width: 52px;
  height: 32px;
  background: #E6E0E9;
  border: 2px solid #79747E;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.settings-switch-handle {
  width: 28px;
  height: 28px;
  background: #79747E;
  border-radius: 100px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

.settings-switch.active .settings-switch-handle {
  left: 22px;
}

/* Маленький текст */
.settings-illegal {
  font-size: var(--text-sm);
  font-weight: 100;
  color: #ffffff;
  text-align: right;
  margin-top: 32px;
}

.github-btn-pos {
  position: absolute; /* Positions the button relative to its parent (.settings-modal) */
  bottom: 20px;       /* Distance from the bottom edge */
  left: 20px;         /* Distance from the left edge */
  z-index: 210;       /* Ensures it's on top of everything else */
  
  /* Styling for the button appearance */
  background-color: #24292f; 
  padding: 10px;
  border-radius: 50%; /* For a nice circular button */
  display: block;
}

/* Style for the image inside the button */
.github-btn-pos img {
  width: 32px;
  height: 32px;
  display: block;
}