@import url(tokens.css);
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-main);
    color: #ffffff;
    font-family: var(--font-main);
}
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: var(--layout-padding);
    box-sizing: border-box;
}
.mHeader {
    font-size: var(--text-xl);
    font-weight: var(--font-heavy);
    text-align: center;
    margin-top: 50px;
}
.subtitle {
    font-size: 28;
    margin-top: 10px;
    opacity: 0.8;
}
.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.error-code {
    font-family: var(--font-koulen);
    font-size: 160px;
    margin-right: 40px;
}

.vertical-sep {
    width: 1px;
    height: 150px;
    background-color: #ffffff;
    margin: 0 40px;
    opacity: 0.5;
}
.ex-icon svg {
    width: 160px;
    height: 160px;
    color: #ffffff;
}
.ex-icon svg path {
    fill: currentColor;
}
.ex1-icon svg {
    width: 160px;
    height: 160px;
}
.footer {
    font-size: var(--text-md);
    opacity: 0.7;
}