:root {
  /* Цвета */
  --color-bg-main: #3D3846;
  --color-bg-header: #3584E4;
  --color-bg-footer: #000000;
  --color-bg-panel: rgba(94, 92, 100, 0.5);
  --color-bg-card: #DEDDDA;
  --color-bg-iconex: #ffffff;

  /* Текст */
  --font-main: 'Inter', sans-serif;
  --font-koulen: 'KoulenR';
  --font-heavy: 900;

  --text-xl: 48px;
  --text-lg: 40px;
  --text-md: 32px;
  --text-sm: 12px;

  /* Радиусы */
  --radius-card: 34px;
  --radius-panel: 33px;

  /* Размеры */
  --layout-max-width: 1440px;
  --layout-padding: 32px;
}

.dark {
  --color-bg-main: #000000;
  --color-bg-panel: #111111;
  --color-bg-card: #222222;
  --color-bg-header: #0A0A0A;
  --color-bg-footer: #0A0A0A;
}

@font-face {
  font-family: 'CaskaydiaCoveNF';
  src: url('/frontend/public/fonts/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CaskaydiaCoveNF';
  src: url('/frontend/public/fonts/CaskaydiaCoveNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'KoulenR';
  src: url('/frontend/public/fonts/Koulen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
